/* * {
    border: 2px solid red;
}

div > * {
    border: 2px solid purple;
} */

@font-face {
    font-family: Lora;
    src: url(../stuff/fonts/computer-modern/cmunrm.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../stuff/fonts/Roboto_Slab/static/RobotoSlab-Light.ttf);
}

@font-face {
    font-family: Disco;
    src: url("fonts/mexcellent_rg.otf");
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgb(18, 28, 40);
}

h1, h2 {
    font-family: Disco;
    text-align: left;
    font-weight: 100;
    color: #00BFA5;
    text-shadow:
        5px 5px #304FFE,
        10px 10px #283593;
}

h1 {
    font-size: 100px;
    margin: 0;
}

h2 {
    font-size: 50px;
    margin: 0;
}

.titles {
    padding: 10px 30px;
}

.titles h2 {
    margin-left: 20px;
}

.titles h1 {
    margin-top: -10px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

